.nav_containter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00473e;

  padding: 25px 125px;
  ul {
    list-style: none;
    a { color: #f2f7f5;}
  }
  .nav_brand {
    font-size: 50px;
  }
  .nav_menu {
    display: flex;
    justify-content: flex-end;
    li {
      margin: 0 35px;
      font-size: 20px;
    }
    
  }
}

