.nav_containter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 25px 125px;
  box-shadow: 0px 2px 2px -1px rgba(125, 120, 120, 0.38);
  ul {
    list-style: none;
  }
  .nav_brand {
    vertical-align: middle;
    font-size: 50px;
  }

  .nav_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      margin: 0 55px;
      // font-size: 1rem;
    }
  }
}
