.header {
  position: absolute;
  left: 120px;
  top: 380px;
  text-align: center;
  .font-small {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
    left: -55px;
  }
  .font-large {
    font-size: 159px;
    position: relative;
    top: -70px;
  }
}

.button {
  color: #e95858;
  padding: 7px 55px;
  border: 2px solid #e95858;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.7s ease-out;
  background-color: #fff;
}
.shop-now__btn {
  padding: 25px;
  display: inline-block;
  width: 250px;
  font-size: 1.2rem;
}
.button:hover,
.button:active {
  background-color: #e95858;
  color: #fff;
}
.landing-page {
  display: flex;
  justify-content: space-evenly;
}
.card-container {
  display: flex;
  position: relative;
  top: 250px;
  left: 305px;
}
.card {
  margin: 0 25px;
  text-align: center;
}
.card__button {
  margin-top: 25px;
  padding: 5px 25px;
  background-color: #e95858;

  a {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
  }
}
.copyright {
  position: absolute;
  bottom: 35px;
  left: 125px;
  font-weight: 700;
}
.ice {
  position: absolute;
  bottom: 0px;
  right: 165px;
  display: inline-block;
  width: 750px;
}
.ice__left,
.ice__right {
  display: inline-block;
  width: 50%;
  transform: translateY(4px);
}
// .ice__left {
//   right: 520px;
// }
.ice__right {
  transform: translateX(120px) translateY(4px) rotateY(180deg);
}
.splash {
   z-index: 9;
  position: absolute;
  bottom: 0;
  transform: translateX(120px) translateY(4px);
  // height: 600px !important;
  // width: 750px !important;
  // .splash__image {
  //   display: block;
  //   height: 600px !important;
  //   width: 750px !important;
  // }
}
.beers {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  transform: translateY(130px);
  z-index: 999999;
  .beer_bottle,
  .beer_canned {
    z-index: 999999;
  }
  .beer_bottle {
    transform: rotateZ(-15deg);
  }
  .beer_canned {
    transform: rotateZ(15deg);
  }
}
