.header {
  position: absolute;
  left: 120px;
  top: 380px;
  text-align: center;
  .font-small {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
    left: -55px;
  }
  .font-large {
    font-size: 159px;
    position: relative;
    top: -70px;
  }
}

.button {
  color: #e95858;
  padding: 7px 55px;
  border: 3px solid #e95858;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.7s ease-out;
}
.button:hover,
.button:active {
  background-color: #e95858;
  color: #fff;
}
.landing-page {
  display: flex;
  justify-content: space-evenly;
}
.card-container {
  display: flex;
  position: relative;
  top: 250px;
  left: 305px;
}
.card {
  margin: 0 25px;
}
.card__button {
  margin-top: 25px;
  padding: 5px 25px;
  background-color: #e95858;

  a {
    font-size: 12px;
    color: #fff;
  }
}
